/* responsive for mobile devise start form here */
@media screen and (max-width:576px) {

     nav,
     nav>ul,
     .gamer-container,
     .box-container,
     .paly-instant-container  
     {
          flex-direction: column;
     }
     ul li{
          margin-bottom: 10px;
     }
     .main-container{
          flex-direction: column-reverse;
     }
     .banner-img img{
          width: 100%;
          height: 500px;
     }
     .banner-img{
          width: 100%;
     }
     .text-content{
          width: 100%;
          margin-top: 100px;
     }
     .bc-containe{
          height: 530px;
     }
     .gamer-imag{
          width: 100%;
     }
     .gamer-content{
          width: 98%;
          text-align: center;
     }
     .box-item{
          margin-bottom: 70px;
     }
     .paly-content{
          width: 80%;
          margin-left: 0;
          margin-bottom: 40px;
     }

     .play-img{
          width: 75%;
          padding-left: 0;
     }
     .play-img .main-img {
          width: 100%;
        }
     .my-toking {
          left: -46px;
          bottom: -55px;
          width: 35%;
     }

     .link-container
                 {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows:repeat(3, 1fr);
     }
     .icon-img img{
          width: 40px;
          height: 40px;
     }
     .icon-img .primary-title{
          font-size: 0.6rem;

     }
     .link-item{
          width: 110px;
          height: 50px;
     }

     #link-item-1{
          grid-column: 1/2;
     }
     #link-item-2{
          grid-column: 2/3;
     }
     #link-item-3{
          grid-column: 3/5;
     }
     #link-item-4{
          grid-column:1/2;
     }
     #link-item-5{
          grid-column: 2/3;
     }
     #link-item-6{
          grid-column: 3/5;
     }
     #link-item-7{
          grid-column: 1/2;
     }
     #link-item-8{
          grid-column: 2/3;
     }
     #link-item-9{
          grid-column: 3/5;
     }
    

     
}
/* responsive for mobile devise end form here */

/* responsive for tab devise start form here */
  @media screen and (min-width:576px) and (max-width:992px){
     nav,
     nav>ul,
     .box-container,
     .paly-instant-container 
    
     {
          flex-direction: column;
     }
     ul li{
          margin-bottom: 20px;
     }
     .main-container{
          flex-direction: column-reverse;
     }
     .logo {
          margin-bottom: 30px;
     }
     .banner-img img{
          width: 100%;
          height: 500px;
     }
     .banner-img{
          width: 100%;
     }
     .text-content{
          width: 80%;
          margin-top: 160px;
          padding: 0 50px;
     }
     .bc-containe{
          height: 600px;
     }
     .bc--gamer-container {
          padding: 20px;
        }
     .box-item{
          margin-bottom: 70px;
     }
     .paly-content {
          width: 62%;
          margin-left: 150px;
      }
     .paly-instant-container {
          gap: 70px;
     }
     .play-img {
          width: 60%;
          padding-left: 160px;
     }

     
  }
/* responsive for tab devise end form here */