/* responsive for mobile devise start form here */
@media screen and (max-width:576px) {

     nav,
     nav>ul,
     .gamer-container,
     .box-container  
     {
          flex-direction: column;
     }
     ul li{
          margin-bottom: 10px;
     }
     .main-container{
          flex-direction: column-reverse;
     }
     .banner-img img{
          width: 100%;
          height: 500px;
     }
     .banner-img{
          width: 100%;
     }
     .text-content{
          width: 80%;
          margin-top: 100px;
     }
     .bc-containe{
          height: 530px;
     }
     .gamer-imag{
          width: 100%;
     }
     .gamer-content{
          width: 98%;
          text-align: center;
     }
     .box-item{
          margin-bottom: 70px;
     }

     
}
/* responsive for mobile devise end form here */

/* responsive for tab devise start form here */
  @media screen and (min-width:576px) and (max-width:992px){
     nav,
     nav>ul,
     .box-container 
    
     {
          flex-direction: column;
     }
     ul li{
          margin-bottom: 10px;
     }
     .main-container{
          flex-direction: column-reverse;
     }
     .banner-img img{
          width: 100%;
          height: 500px;
     }
     .banner-img{
          width: 100%;
     }
     .text-content{
          width: 80%;
          margin-top: 160px;
          padding: 0 50px;
     }
     .bc-containe{
          height: 600px;
     }
     .box-item{
          margin-bottom: 70px;
     }

     
  }
/* responsive for tab devise end form here */