/* font  form google font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/*css all property applay this */
*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     font-family: 'Lato', sans-serif;
     font-family: 'Poppins', sans-serif;
     font-family: 'Work Sans', sans-serif;
}
/* shared style start form here */
.primary-description{
     color: #534C64;
     font-size: 1.1rem;
     font-weight: 400;
}
/* shared style end form here */
/* header style start form here */
header{
    
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
     max-width: 1440px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 2.5rem;
}
nav > ul{
     display: flex;
     align-items: center;
     list-style-type: none;
}
nav li a{
     text-decoration: none;
     margin-right: 2rem;
     color: #3C354F;
     font-size: 1.1rem;
     font-weight: 500;    
}

.logo{
     display: flex;
     align-items: center;
     gap: 1rem;
}
.header-title{
     color: #0B0223;
     font-family: Work Sans;
     font-size: 45px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;     
}
.header-title span{
     color: #FF42A5;
}

.header-container{
    display: flex;
}
.nav-btn{
     padding: 15px 25px;     
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);   
     color: #3C354F;
     font-size: 1.1rem;
     font-weight: 500;     
}
/* header style end form here */
/* main section start form here */
.bc-container{
     width: 100%;
     height: 604px;
     background-image: url(../images/Group\ 14.png);
     background-repeat: no-repeat;
     background-size: 50% 100%;

}
.main-container{
     max-width: 1440px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.text-content{
     width: 50%;
     
}
.banner-img img{
     width: 100%;
     height: 600px;
}
.banner-img{ 
     width: 50%;
}

/* text content style */
.play{
     color: #0B0223;
     font-size: 3rem;
     font-weight: 600;
     line-height: normal;
     text-transform: uppercase;     
}
.heading-title{
     font-size: 95px;
     font-weight: 800;
     text-transform: uppercase;     
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;     
}
.button{
     margin-top: 2.5rem;
}
.sign{
     border-radius: 50px;
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     padding: 21px 40px;
     border: 0;
     color: #FFF;
     font-size: 1.25rem;
     font-weight: 600;
     text-transform: uppercase;
     margin-right: 1.5;             
}
.go{
     background: #4EC5F7;
     border-radius: 50px;
     padding: 21px 40px;
     border: 0;
     color: #FFF;
     font-size: 1.25rem;
     font-weight: 600;
     text-transform: uppercase; 
}
/* main section end form here */
/* gamer section start form here */
.bc--gamer-container{
     background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-container{
     padding: 6.25rem 0;
     max-width: 1440px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;     
}
.gamer-imag img{
     width: 100%;
}
.gamer-imag{
     width: 50%;
}
.gamer-content{
     width: 50%;
     text-align: right;
}

.gamer-title{
     font-size: 3rem;
     font-weight: 700;    
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;  
     margin-bottom: 1.5rem;   
}
.gamer-content .sign{
     margin-top: 1.5rem;

}
.small{
     color: #534C64;
     font-size: 1.5rem;
     font-weight: 500; 
     margin: 1.5rem 0;    
}
.uleash{
     color: #534C64;
     font-size: 2rem;
     font-weight: 700;
}

/* gamer section end form here */
/* online style start form here */
.online-bc-container{
     max-width: 1440px;
     margin: 0 auto;
     text-align: center;
     margin-top: 7.5rem;
     margin-bottom: 7.1rem;
          
}
.box-container{
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.online-heading{
     color: #0B0223;
     font-size: 3rem;
     font-weight: 700;  
     margin-bottom: 10px;     
}
.online-heading span{
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     
}
.box-item .primary-description{
     text-align: left;
}

.box-item{
     width: 342px;
     height: 400px;   
}
.box-item .img-border-ol:hover{
     border: 1px solid #F948B2;
     border-radius: 1rem;
}
.box-item .img-border:hover{
     border: 4px solid #F948B2;
     border-radius: 1.2rem;
}

/* online style end form here */

